@charset "UTF-8";

html,body {
margin:0;
padding:0;
height:100%;
background-color:#f8f8f8!important;
font-family:Vazir
}

a {
text-decoration:none!important
}

div {
box-sizing:border-box
}

.heading {
padding:50px
}

.heading h1 {
font-size:55px
}

.heading h2 {
font-size:15px
}

.heading h3 {
font-size:12px;
letter-spacing:3px
}

.copyright p {
padding::25px;
font-size:13px;
margin-top:20px
}

.footer-sidebar {
font-size:15px
}

.footer-sidebar-section {
padding:25px
}

.footer-sidebar h4 {
font-size:20px
}

.text-brown {
color:#964B00
}

.homepage-content {
margin:50px 0
}

.myitems .card {
border-radius:10px;
min-height: 250px;
height: auto;
width: 100%;
}
.myitems .float-right {
	float: right;
	padding: 5px;
	width: 25%;
}
.myitems .card .btn, .myitems .card p {
	font-size: 13px;
}
.myitems .card .card-opt {
	position: absolute;
	bottom: 0;
}
.myitems .card .card-opt a {
	margin-bottom: 10px;
}
.myitems .card .card-opt90 a {
	max-width: 90%;
}
.gap-card {
	height: 50px;
	margin-bottom: 40px;
	width: 100%;
}
.plus-service {
display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size: 130px;
}
.email-box {
	letter-spacing: 3px;
	font-size: 13px;
	font-family: tahoma;
}
.menu ul {
	padding: 0;
}
.heading a {
	margin-bottom: 10px;
}
.blog-list {
	line-height: 40px;	
}
.blog-list li:hover {
	font-weight: bolder;
}
.blog-list li:hover:after {
	content: " برای خواندن کلیک کنید.";
	color: #f00;
}

@media screen and (max-width: 900px) {
.myitems .float-right {
	width: 50%;
}
.myitems .card .card-opt {
	font-size: 9px!important;
}
}
@media screen and (max-width: 500px) {
.myitems .float-right {
	width: 100%!important;
}
.menu li {
	display: block;
	width: 100%;
}
}