@charset "UTF-8";
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 400;
    src: url(../font/dana-fanum-regular.eot);
    src: url(../font/dana-fanum-regular.eot?#iefix) format("embedded-opentype"), url(../font/dana-fanum-regular.woff2) format("woff2"), url(../font/dana-fanum-regular.woff) format("woff")
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: dana, sans-serif
}

a {
    text-decoration: none!important
}

div {
    box-sizing: border-box
}

p {
    text-align: justify
}

.heading {
    padding: 50px
}

.header-wall {
    background: url(../img/header.png) center no-repeat;
    background-size: cover;
    min-height: 300px
}

.heading h1 {
    font-size: 55px
}

.heading h2 {
    font-size: 15px
}

.heading h3 {
    font-size: 12px;
    letter-spacing: 3px
}

.copyright p {
    font-size: 13px;
    margin-top: 20px
}

.footer-sidebar {
    font-size: 15px;
    background: #3c3c3c;
    padding: 50px 0
}

.footer-sidebar-section {
    padding: 25px
}

.footer-sidebar h4 {
    font-size: 26px;
    margin-bottom: 30px
}

.text-brown {
    color: #964B00
}

.homepage-content {
    margin: 50px 0
}

.myitems .card {
    border-radius: 10px;
    min-height: 250px;
    height: auto;
    width: 100%
}

.myitems .float-right {
    float: right;
    padding: 5px;
    width: 25%
}

.myitems .card .btn,
.myitems .card p {
    font-size: 13px
}

.myitems .card .card-opt {
    position: absolute;
    bottom: 0
}

.myitems .card .card-opt a {
    margin-bottom: 10px
}

.gap-card {
    height: 50px;
    margin-bottom: 40px;
    width: 100%
}

.plus-service {
    font-size: 60px
}

.email-box {
    letter-spacing: 3px;
    font-size: 13px;
    font-family: tahoma, sans-serif
}

.menu ul {
    padding: 0
}

.heading a {
    margin-bottom: 10px
}

.blog-list {
    line-height: 40px
}

.blog-list li:hover {
    font-weight: bolder
}

.blog-list li:hover:after {
    content: " برای خواندن کلیک کنید.";
    color: #129141
}

.blog-post-content h5,
.blog-post-content h6 {
    margin-top: 50px
}

.blog-post-content p {
    line-height: 2.2rem;
    margin: 0
}

.accordion-button {
    text-align: right
}

.searchtext {
    margin: 30px auto
}

.collabrator-social {
    padding: 0;
    margin: 0
}

.collabrator-social li:nth-child(4) a {
    color: #1DA1F2 !important
}

.collabrator-social li:nth-child(3) a {
    color: #24292e !important
}

.collabrator-social li:nth-child(4) a {
    color: #EA4335 !important
}

.collabrator-social li:nth-child(1) a {
    color: #00749C !important
}

.collabrator-social li a {
    padding: 5px
}

.collabrator-card {
    float: right
}

.collabrator-card img {
    border-radius: 100%;
    margin-bottom: 10px
}

.collabrator-card .card-body {
    margin: 20px;
    border-radius: 25px;
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px
}

.impossible-label {
    background: #000;
    color: #fff
}

.hard-label {
    background: #a32100;
    color: #fff
}

.medium-label {
    background: #ffa800;
    color: #fff
}

.easy-label {
    background: #129141;
    color: #fff
}

.label-remove {
    background: #FF1F4F;
    color: #fff
}

.blog-list-icon {
    transform: rotate(180deg)
}

.footer * {
    font-size: 14px
}

.footer a {
    color: #ffde00
}

.heading .share-twitter {
    background: #262626;
    border: none
}

.heading .contribute-github {
    background: #058c15;
    border: none
}

.heading p {
    margin-top: 90px
}

.float-right {
    float: right
}

.float-left {
    float: left
}

.footer .service-detail img {
    max-width: 150px !important
}

.footer .service-detail ul,
.footer .service-detail li {
    padding: 0;
    margin: 0
}

.footer .service-detail a {
    border-radius: 5px;
    margin: 10px;
    padding: 6px 8px 3px;
    color: #3c3c3c
}

.footer p {
    margin-bottom: 0
}

.footer .label-buttom {
    margin-bottom: 10px
}

.footer .label-buttom span {
    width: 100px
}

.homepage-content .donate-image {
    margin: 30px 0 100px
}

.homepage-content .blog-box-right {
    width: 70%
}

.homepage-content .blog-box-left {
    width: 30%
}

.homepage-content .accordion-button:not(.collapsed) {
    background: #ffde00;
    color: #2f2f2f
}

.homepage-content .accordion {
    color: #2f2f2f;
    box-shadow: none
}

.homepage-content .accordion .accordion-item {
    border-right: none;
    border-left: none
}

.collabrator-text p {
    text-align: right !important
}

.collabrator-text p a {
    color: #058c15
}

:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important
}

.searchtext {
    border-color: #383737
}

.searchtext:focus {
    border-color: #383737
}

.copyright .float-right p strong:nth-child(3) a {
    font-family: tahoma, sans-serif;
    font-size: 11px;
    letter-spacing: 1px
}

.bg-blur {
    backdrop-filter: blur(15px)
}

.banner-code {
    resize: none;
    height: 120px;
    width: 100%;
    max-width: 300px;
    direction: ltr;
    font-family: tahoma, sans-serif;;
    font-size: 12px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #383737
}

.breadcrumb .nav,
.breadcrumb .navbar {
    padding: 0;
    margin: 0
}

.breadcrumb {
    padding: 30px 0;
    background-color: #f8f9fa
}

.breadcrumb li a {
    color: #212529;
    padding: 5px;
    font-size: 14px;
    padding-top: 2px
}

.breadcrumb li a:after {
    content: ">";
    margin-right: 10px
}

.breadcrumb li a:hover {
    color: #212529
}

.breadcrumb li:last-child a {
    font-weight: bolder;
    font-style: bold;
    font-size: 16px!important;
    padding-top: 0!important
}

.breadcrumb li:last-child a:after {
    content: ""!important
}

@media screen and (max-width: 900px) {
    .myitems .float-right {
        width: 50%
    }
    .myitems .card .card-opt {
        font-size: 9px!important
    }
    .header-wall {
        background-size: contain;
        min-height: 210px
    }
    .header-wall p {
        display: none
    }
    .accordion-button {
        text-align: right;
        line-height: 30px
    }
}

@media screen and (max-width: 500px) {
    .fixed-top {
        position: relative!important
    }
    .homepage-content .blog-box-right {
        width: 100%!important;
        float: none!important
    }
    .homepage-content .blog-box-left {
        display: none
    }
    .accordion-button {
        text-align: right;
        line-height: 30px
    }
    .header-wall {
        background-size: contain;
        min-height: 130px
    }
    .header-wall p {
        display: none
    }
    .copyright div {
        float: none;
        width: 100%
    }
    .copyright * {
        text-align: center
    }
    .copyright .float-left {
        display: none
    }
    .myitems .float-right {
        width: 100%!important
    }
    .menu li {
        display: block;
        width: 100%
    }
}
