@charset "UTF-8";
@font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 400;
    src: url(assets/font/dana-fanum-regular.eot);
    src: url(assets/font/dana-fanum-regular.eot?#iefix) format("embedded-opentype"), url(assets/font/dana-fanum-regular.woff2) format("woff2"), url(assets/font/dana-fanum-regular.woff) format("woff")
}

.popup-container {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.popup-container .difficulty-container {
    display: none;
    height: 100%;
    width: 200px;
    flex-direction: column;
    align-items: flex-end;
}

.popup-container .difficulty-container .difficulty-text {
    border-radius: 0.25rem;
    padding: 2px 10px;
    color: white;
}

.popup-container .difficulty-container .difficulty-info {
    font-size: x-small;
    direction: rtl;
    text-align: right;
    margin-bottom: 32px;
}

.popup-container .difficulty-container .correction-link {
    font-size: 12px;
    position: absolute;
    bottom: 16px;
    left: 20px;
    text-decoration: none;
}

.popup-container .not-supported-container {
    display: none;
    text-align: right;
    font-size: small;
}

.popup-container .not-supported-container .not-supported-text {
    direction: rtl;
}

.popup-container .not-supported-container .not-supported-link {
    font-size: 12px;
    text-decoration: none;
}

.popup-container .spinner-container {
    margin: 2rem;
}

.popup-container .spinner-container .fa-circle-notch {
    font-size: 24px;
}
